################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/2019.02.09/.vs/2019.02.09/v15/Server/sqlite3/db.lock
